[submodule "themes/hugo-geekdoc"]
	path = themes/hugo-geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
