:root {
  --accent: #6591ff;
}

figure.screenshot {
  text-align: center;
}

div.site-header {
  text-align: center;
  margin-bottom: 48px;
  display: flex;
  
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  
  & img {
    width: 64px;
    height: 64px;
  }
  
  & h1 {
    font-size: 2.2em;
    font-variant: small-caps;
    vertical-align: middle;
    margin: 0;
    margin-left: 16px;
  }
}

kbd {
  background: var(--body-font-color);
  color: var(--body-background);
  border-radius: 4px;
  font-weight: bold;
  padding:  2px 3px;
  font-size: 1.0em;
}

input {
  -webkit-appearance: auto;
  appearance: auto;
}

/**
 * Keybinding settings.
 */
table.key-bindings.show-binding-names .kb-key-binding {
  display: none;
}
table.key-bindings:not(.show-binding-names) .kb-binding-name {
  display: none;
}
