:root {
  --accent: #6591ff;
}

kbd {
  background: var(--accent);
  color: black;
  border-radius: 4px;
}

img.screenshot {
  margin: -24px;
  margin-top: 0;
}

input {
  -webkit-appearance: auto;
  appearance: auto;
}

.headings--one-size h1:first-child {
  margin-top: 0px;
}

/**
 * Keybinding settings.
 */
table.key-bindings.show-binding-names .kb-key-binding {
  display: none;
}
table.key-bindings:not(.show-binding-names) .kb-binding-name {
  display: none;
}
